<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AmazonAutomationSuite" parallel="none"  preserve-order="true">

 
	<listeners>
		<listener
			class-name="com.amazon.automation.customlisterns.ExtentListeners">
		</listener>
	</listeners>
	 
	<test name="loginTestValidUser"  >	
		<classes>
			<class name="com.amazon.automation.testpackage.ValidUserLogin" >
		 
        </class>
		</classes>
		
	</test> <!-- Test -->
	
		<test name="loginTestInnalidUser"  >
		<classes>
			<class name="com.amazon.automation.testpackage.InvalidUserLogin" />
		
		</classes>
	</test> <!-- Test -->
	<test name="couponsCategoryTest"  >
	 
		<classes>
			<class name="com.amazon.automation.testpackage.SelectCouponsCategory" />
		</classes>
	</test> <!-- Test -->
	<test name="CouponsSortTest"  >
		<classes>
			<class name="com.amazon.automation.testpackage.SortCoupons" />
		</classes>
	</test> <!-- Test -->
	<test name="SearchByCategoryTest"  >
		<classes>
			<class name="com.amazon.automation.testpackage.SearchByCategory" />
	</classes>
	</test> <!-- Test -->
	
	
	<test name="addToCartTest"  >
		<classes>
			<class name="com.amazon.automation.testpackage.AddToCart" />
		</classes>
	</test> <!-- Test -->
 



</suite> <!-- Suite -->
